body {
    margin: 0;    
    color: white;
}

#info {
    width: 100%;
    font: caption;
    display: flex;
    position: absolute;
    justify-content: center;
    align-self: center;
    padding-top: 18rem;
    font-size: 5rem;
}
